.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #d4a373;
  padding: 10px;
  padding: 10px 10px;
}
.grid-item {
  border: 1px solid #e9edc9;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  font-family: raleway;
  color: black;
  background-image: url('img/brown.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  color: #e9edc9;
}
a {
  padding-left: 10px;
  font-family: raleway;
}
p {
  font-size: 20px;
  font-family: raleway;
}
h1 {
  padding: 10px;
  font-family: raleway;
  padding-top: 20px;
}
h2 {
  padding: 10px;
  text-decoration: underline;
  font-family: raleway;
}
h5 {
  font-family: raleway;
}
button {
  font-family: raleway;
}
ul {
  font-size: 20px;
  font-family: raleway;
  color: black;
}
body {
  background-image: url('img/brown.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  color: #e9edc9;
}
.brick {
  font-family: tapestry;
  font-size: 30px;
}
.case {
  border: 1px black solid;
}
.future {
  font-family: raleway;
}
.paper {
  font-size: 50px;
}
.letter {
  font-size: 30px;
}
.question {
  font-family: tapestry;
  font-size: 30px;
}
.content {
  color: #e9edc9;
}
.visual {
  width: 300px;
  height: 200px;
  border-radius: 30%;
  padding: 10px 10px;
  border: 2px dashed white;
}
.image {
    width: 300px;
    height: 200px;
}
.accordion-header {
  background-color: #d4a373;
}
.grass {
  color: #e9edc9;
}
.cylyyf {
  background-color: #cb997e;
}
.color {
  font-family: tapestry;
  font-size: 60px;
  padding-top: 15px;
}
.tree {
  font-family: raleway;
  font-size: 25px;
  font-weight: 900;
}
.cat {
  border: white;
}
#link{
  font-size: 20px;
}
#future {
  width: 500px;
  height: 300px;
  float: right;
  padding: 20px;
  opacity: 0.5;
}
#future:hover {
  opacity: 1;
}
@media (max-width: 576px) {
  .image {
    display: block;
  }
}
#water {
  text-align: center;
}
